*{
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
}

body{
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}

header{
    background-image: url("../public/images/pattern-bg.png");
    background-repeat: no-repeat;
    background-size: auto;
    height: 40vh;
}

input{
  background-color: whitesmoke;
}

.address h2{
  color: whitesmoke;
}

.address input{
  padding: 1em;
  border-radius: 1em;
  border: none;
}

.address button{
  background-color: black;
  border: none;
  border-radius: 0 1em 1em 0;
  padding: 1em;
  margin-left: -2em;
}

@media only screen and (max-width: 500px){

  body{
    font-size: 9px;
    background-color: lightblue;
  }

  header{
    position: relative;
    top: 0;
    height: 40vh;    
  }

  .address{
    position: relative;
    top: 5vh;

  }

  .address input{
    padding: 1em;
    border-radius: 1em;
    border: none;
    max-width: 50%;
  }

  .address button{
    background-color: black;
    border: none;
    border-radius: 0 1em 1em 0;
    padding: 1em;
    margin-left: -2em;
  }

  .info-container{
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background-color: white;
    height: 350px;
    width: 70vw;
    margin: auto;
    top: -20vh;
    position: relative;
    border-radius:1em ;
    text-transform: uppercase;
  }

  .info-container h3{
    color: hsl(0, 0%, 59%)
  }

  .info-container p{
    color: black;
    font-weight: 700;
  }
}