*{
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
}

body{
  font-size: 18px;
}

header{
    background-image: url("../public/images/pattern-bg.png");
    background-repeat: no-repeat;
    background-size: auto;
    height: 40vh;
}

input{
  background-color: whitesmoke;
}

.address h2{
  color: whitesmoke;
}

@media only screen and (max-width: 500px){

  body{
    font-size: 9px;
  }

  header{
    position: relative;
    top: 0;
    height: 40vh;    
  }

  .address{
    position: relative;
    top: 5vh;

  }

  .address input{
    padding: 1em;
    border-radius: 1em;
    border: none;
  }

  .address button{
    background-color: black;
    border: none;
    border-radius: 0 1em 1em 0;
    padding: 1em;
    margin-left: -2em;
  }
}