*{
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

body{
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  
}


header{
    background-image: url("../public/images/pattern-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}


.address{
  margin-top: 2%;
  width: 100%;
}

input{
  background-color: whitesmoke;
}

.address h2{
  color: whitesmoke;
}

.address input{
  padding: 1em;
  border-radius: 1em;
  border: none;
}

.address button{
  background-color: black;
  border: none;
  border-radius: 0 1em 1em 0;
  padding: 1em;
  margin-left: -2em;
}


.info-container{
  z-index: 10;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  background-color: white;

  position: absolute;
  top: 150px;

  height: 400px;
  width: 30vw;
  margin: auto;
  border-radius:1em ;
  text-transform: uppercase;
}

.leaflet-container{

  height: 70vh;
  z-index: 1;
  width: 100vw;
}

@media only screen and (max-width: 500px){

  .App{
    /* height: 1000px; */
    background-color: lightblue;

  }

  body{
    font-size: 9px;
    width: 100vw;
  }

  header{
    position: relative;
    top: 0;
    height: 250px;    
    width: 100vw;
  }

  
  .address{
    position: relative;
    top: 5vh;

  }

  .address input{
    padding: 1em;
    border-radius: 1em;
    border: none;
    max-width: 50%;
  }

  .address button{
    background-color: black;
    border: none;
    border-radius: 0 1em 1em 0;
    padding: 1em;
    margin-left: -2em;
  }

  .info-container{
    z-index: 10;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background-color: white;

    margin: auto;

    position: absolute;
    top: 150px;
    left: 15%;

    height: 300px;
    width: 70vw;
    margin: auto;
    border-radius:1em ;
    text-transform: uppercase;
  }

  .info-container h3{
    color: hsl(0, 0%, 59%)
  }

  .info-container p{
    color: black;
    font-weight: 700;
  }
}

#map { height: 180px; }

