*{
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

body{
  font-size: 15px;
  font-family: "Rubik", sans-serif;
  
}


header{
    background-image: url("../public/images/pattern-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}


.address{
  margin-top: 2%;
  width: 100%;
}

input{
  background-color: whitesmoke;
}

.address h2{
  color: whitesmoke;
}

.address input{
  padding: 1em;
  border-radius: 1em;
  border: none;
  width: 35%;
}

.address input:focus{
  border: none;
  outline: none;
}

.address input:active{
  border: none;
  outline: none;
}

.address button{
  background-color: black;
  border: none;
  border-radius: 0 1em 1em 0;
  padding: 1em;
  margin-left: -2em;
}


.info-container{
  z-index: 10;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;

  position: absolute;
  top: 150px;

  height: 150px;
  width: 70vw;
  margin: auto;
  border-radius:1em ;
  text-transform: uppercase;
}

.infos{
  text-align: left;
  padding-left: 1%;
  width: 20%;
  height: 40%;
}

.info-container hr{
  height: 50%;
}

.leaflet-container{

  height: 80vh;
  z-index: 1;
  width: 100vw;
}

.info-container h3{
  color: hsl(0, 0%, 59%)
}

.info-container p{
  color: black;
  font-weight: 700;
}


@media only screen and (max-width: 700px){

  .App{
    /* height: 1000px; */
    background-color: lightblue;

  }

  body{
    font-size: 9px;
    width: 100vw;
  }

  header{
    position: relative;
    top: 0;
    height: 250px;    
    width: 100vw;
  }

  
  .address{
    position: relative;
    top: 5vh;

  }

  .address h2{
    font-size: 2em;
  }

  .address input{
    padding: 1em;
    border-radius: 1em;
    border: none;
    width: 70%;
  }

  .address button{
    background-color: black;
    border: none;
    border-radius: 0 1em 1em 0;
    padding: 1em;
    margin-left: -2em;
  }

  .info-container{
    z-index: 10;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;

    margin: auto;

    position: absolute;
    top: 150px;
    left: 5%;

    height: 300px;
    width: 90vw;
    margin: auto;
    border-radius:1em ;
    text-transform: uppercase;
  }

  .infos{
    width: 100%;
    height: 20%;
    flex-direction: column;
    text-align: center;
    justify-content: cenWter;
  }

  .info-container hr{
    display: none;
  }
  
}

@media only screen and (max-height: 500px){
  .info-container{
    height: 200px;
    font-size: 10px;
  }

  .leaflet-container{
    height: 500px;
  }


}

